<div class="settings insertSettings">
    <div class="settingsWrapper prependSettings">
        <div class="settingsHeading">
            <div class="label">
                <span class="{{ settingNameHighlightClass }}">Prepend</span> type
            </div>

            <div class="sublabel">
                Type of inserting items in the beginning of items set.
            </div>
        </div>

        <div class="settingsContent" data-applyplugin="cssCalcNormalizer" data-plugin-mode="substractFromParent"
                                                      data-plugin-secondvalue="60px" data-plugin-property="height">
            <div class="setting mirroredPrependSetting selectedSetting">
                <div class="legend">
                    <div class="settingName">
                        Mirrored <span class="{{ settingNameHighlightClass }}">prepend</span>
                    </div>

                    <div class="settingDescription">
                        {{ mirroredPrependDescription }}
                    </div>
                </div>
            </div>

            <div class="setting defaultPrependSetting selectedSetting">
                <div class="legend">
                    <div class="settingName">
                        Default <span class="{{ settingNameHighlightClass }}">prepend</span>
                    </div>

                    <div class="settingDescription">
                        {{ defaultPrependDescription }}
                    </div>
                </div>
            </div>

            <div class="setting reversedPrependSetting selectedSetting">
                <div class="legend">
                    <div class="settingName">
                        Reversed <span class="{{ settingNameHighlightClass }}">prepend</span>
                    </div>

                    <div class="settingDescription">
                        {{ reversedPrependDescription }}
                    </div>
                </div>
            </div>

            <div class="demonstrator prependDemonstrator {{ demonstratorGridTypeClass }}">
            </div>
        </div>
    </div>

    <div class="settingsWrapper appendSettings">
        <div class="settingsHeading">
            <div class="label">
                <span class="{{ settingNameHighlightClass }}">Append</span> type
            </div>

            <div class="sublabel">
                Type of inserting items in the end of items set.
            </div>
        </div>

        <div class="settingsContent" data-applyplugin="cssCalcNormalizer" data-plugin-mode="substractFromParent"
                                                      data-plugin-secondvalue="60px" data-plugin-property="height">
            <div class="setting defaultAppendSetting selectedSetting">
                <div class="legend">
                    <div class="settingName">
                        Default <span class="{{ settingNameHighlightClass }}">append</span>
                    </div>

                    <div class="settingDescription">
                        {{ defaultAppendDescription }}
                    </div>
                </div>
            </div>

            <div class="setting reversedAppendSetting selectedSetting">
                <div class="legend">
                    <div class="settingName">
                        Reversed <span class="{{ settingNameHighlightClass }}">append</span>
                    </div>

                    <div class="settingDescription">
                        {{ reversedAppendDescription }}
                    </div>
                </div>
            </div>

            <div class="demonstrator appendDemonstrator {{ demonstratorGridTypeClass }}">
            </div>
        </div>
    </div>
</div>