<div class="controls">
    <div class="leftSide">
        <div class="controlItem noRightBorder noBottomBorder topLeftControl">
            <div class="legend">
                <div class="top">
                    <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                </div>

                <div class="bottom sublabelText">
                </div>
            </div>
        </div>

        <div class="controlItem noBottomBorder topRightControl">
            <div class="legend">
                <div class="top">
                    <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                </div>

                <div class="bottom sublabelText">
                </div>
            </div>
        </div>

        <div class="controlItem noRightBorder noBottomBorder middleLeftControl">
            <div class="legend">
                <div class="top">
                    <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                </div>

                <div class="bottom sublabelText">
                </div>
            </div>
        </div>

        <div class="controlItem noBottomBorder middleRightControl">
            <div class="legend">
                <div class="top">
                    <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                </div>

                <div class="bottom sublabelText">
                </div>
            </div>
        </div>

        <div class="controlItem noRightBorder bottomLeftControl noBottomBorder">
            <div class="legend">
                <div class="top">
                    <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                </div>

                <div class="bottom sublabelText">
                </div>
            </div>
        </div>

        <div class="controlItem bottomRightControl noBottomBorder">
            <div class="legend">
                <div class="top">
                    <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                </div>

                <div class="bottom sublabelText">
                </div>
            </div>
        </div>
    </div>

    <div class="rightSide">
    </div>
</div>