<div class="controls">
    <div class="controlsHeading">
        <div class="leftSide">
            <div class="legend">
                <span class="legendPrefix">Grid</span> controls
            </div>

            <div class="button clearGridControl">
                Clear <span class="buttonTextHighlight">grid</span>
            </div>
        </div>

        <div class="rightSide">
            <div class="legend">
                <span class="legendPrefix">Item</span> controls
            </div>

            <div class="selector selectItemCssControl">
                <div class="text">
                    Border: <span class="borderValue selectorTextHighlight"></span>
                    Margin: <span class="marginValue selectorTextHighlight"></span>
                    <span class="boxSizingValue"></span>-<span class="selectorTextHighlight">box</span>
                </div>

                <div class="selectorIcon">
                </div>
            </div>
        </div>
    </div>

    <div class="controlsContent">
        <div class="leftSide">
            <div class="controlItem noRightBorder noBottomBorder topLeftControl">
                <div class="borderWrapper">
                    <div class="legend">
                        <div class="top">
                            <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                        </div>

                        <div class="bottom sublabelText">
                        </div>
                    </div>
                </div>
            </div>

            <div class="controlItem noBottomBorder topRightControl">
                <div class="borderWrapper">
                    <div class="legend">
                        <div class="top">
                            <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                        </div>

                        <div class="bottom sublabelText">
                        </div>
                    </div>
                </div>
            </div>

            <div class="controlItem noRightBorder noBottomBorder middleLeftControl">
                <div class="borderWrapper">
                    <div class="legend">
                        <div class="top">
                            <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                        </div>

                        <div class="bottom sublabelText">
                        </div>
                    </div>
                </div>
            </div>

            <div class="controlItem noBottomBorder middleRightControl">
                <div class="borderWrapper">
                    <div class="legend">
                        <div class="top">
                            <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                        </div>

                        <div class="bottom sublabelText">
                        </div>
                    </div>
                </div>
            </div>

            <div class="controlItem noRightBorder bottomLeftControl noBottomBorder">
                <div class="borderWrapper">
                    <div class="legend">
                        <div class="top">
                            <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                        </div>

                        <div class="bottom sublabelText">
                        </div>
                    </div>
                </div>
            </div>

            <div class="controlItem bottomRightControl noBottomBorder">
                <div class="borderWrapper">
                    <div class="legend">
                        <div class="top">
                            <span class="highlightedText {{ legendHighlightedTextColorClass }}"></span> <span class="defaultText"></span>
                        </div>

                        <div class="bottom sublabelText">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightSide">
            <div class="itemSettings">

                {% set gridItemBgs = ['gridFirstBg', 'gridSecondBg', 'gridThirdBg', 'gridFourthBg', 'gridFifthBg'] %}
                {% for i in 1..50 %}
                    <div class="itemSetting{% if i > 1 %} itemSettingTopMargin{% endif %} item{{ i }}Sizes">
                        <div class="left">
                            <div class="gridItem atomBorder {{ cycle(gridItemBgs, i) }}">
                                {{ i }}
                            </div>
                        </div>

                        <div class="right {% if i > 1 %}cloneCssCalcNormalizerItemSettingUpdates{%endif %}"{% if i == 1 %}
                                                     data-applyplugin="cssCalcNormalizer" data-plugin-mode="substractFromParent" 
                                                     data-plugin-secondvalue="85px" data-plugin-property="width"
                                                     data-clone-updates-class="cloneCssCalcNormalizerItemSettingUpdates"
                                                      {% endif %}>
                            <div class="leftSide">
                                <div class="gridItemSettingsSelector" data-itemSizesSelectorId="{{ i }}">
                                    Width: 
                                    <span class="itemWidth {{ legendHighlightedTextColorClass }}">0px</span> 
                                    Height: 
                                    <span class="itemHeight {{ legendHighlightedTextColorClass }}">0px</span>

                                    <div class="selectorWrapper">
                                         <div class="selectorIcon"></div>
                                     </div>
                                </div>
                            </div>

                            <div class="rightSide">
                                <div class="applyToAllItemSetting">
                                    Apply to all
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>